.header {
    display: flex;
    align-items: center;
    margin-bottom: auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #2e0052;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    width: fit-content;
    margin: 0;
  }
  
  .logoImage {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }
  
  .backToProductsBtn {
    border-radius: 0.875rem;
    background: #2e0052;
    border: none;
    cursor: pointer;
    color: white;
    padding: 7px 14px;
    width: fit-content;
  }
  
  .midContainer{
    padding: 1rem 6rem;
  }

  .product img {
    width: 13rem;
    height: 13rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgba(0, 102, 255, 0.17);
    border-radius: 10px;
    position: relative;
    flex: none;
  }